# Ignore SQLite database
backend/djproj/*.sqlite3
backend/djproj/*.db
backend/venv

# Ignore Django migrations except __init__.py
backend/djproj/**/migrations/
!backend/djproj/**/migrations/__init__.py  # Keeps __init__.py

backend/djapp/**/migrations/
!backend/djapp/**/migrations/__init__.py  # Keeps __init__.py

# Ignore Python cache files
backend/djapp/**/migrations/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

backend/djproj/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd



# Ignore frontend build folder
frontend/build/

# Ignore environment files
.env
backend/.env
frontend/.env

# Ignore node_modules
frontend/node_modules/
