.project{
    position: relative;
    left: 20px;
    margin-top: 5rem;
    /* margin-left: 3rem; */
}

.group{
    position: relative;
    left: 20px;
    margin-top: 5rem;
    /* margin-left: 3rem; */
}